{{> menu id="dashboard"}}

<section class="ui segment">
  <h1> Your Weather Stations</h1>
  {{> liststations}} {{!-- pulls in liststations partials --}}
  <h1> Add a new Weather Station</h1>
  {{> addstation}}  {{!-- pulls in addstations partials--}}
</section>