{{> welcomemenu}}

<section class="ui center aligned middle aligned segment">
  <h1> Welcome to the Weather Top Web App</h1>
  <div class="center aligned text">
    <p><span class="ui large text">  To Proceed please either SignUp to create an account or Login to get back into your account </span></p>
  </div>

</section>