{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{station.title}}
  </h2>
  {{!--  <h4> Smallest weather code : {{smallestWeatherCode}}</h4>  to test the code's ability to transfer data to a view--}}
  {{> listreadings}}
  {{> addreading}}
</section>